@font-face {
    font-family: "Marist";
    src: url("public/assets/ABCMarist-Book.otf") format('opentype');
}
@font-face {
    font-family: "MaristItalic";
    src: url("public/assets/ABCMarist-BookItalic.otf") format('opentype');
}
@font-face {
    font-family: "Briosa";
    src: url("public/assets/FLbrsa2A.ttf") format('truetype');
}

body{
    font-family: "Marist";
    font-size: 18px;
    color: black;
    margin: 8px;
}

.italic{
    font-family: "MaristItalic";
}