@font-face {
    font-family: "Marist";
    src: url("assets/ABCMarist-Book.otf") format('opentype');
}
@font-face {
    font-family: "MaristItalic";
    src: url("assets/ABCMarist-BookItalic.otf") format('opentype');
}
@font-face {
    font-family: "Briosa";
    src: url("assets/FLbrsa2A.ttf") format('truetype');
}

body{
    font-family: "Marist";
    color: black;
    margin: 8px;
}